@charset "UTF-8";
/*MIXIN ANIMACIÓN*/
.info {
  animation: fade 3s linear 1000; }

@keyframes fade {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

.tituloNews {
  animation: fade 3s linear 1000; }

@keyframes fade {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

h1 {
  color: #FF4089;
  font-size: 10px;
  text-align: center;
  font-weight: bold; }

.tituloPrincipal {
  font-size: 2rem; }

.imagenLogo {
  width: 100px;
  height: 100px;
  border: #FF4089 1px solid;
  border-radius: 20px;
  margin: 5px;
  padding: 5px; }

.encabezado {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #fae1dd;
  border: 1px solid #ff4089; }

.info {
  width: 100%; }

.botonIndex {
  background-color: #fae1dd;
  color: #FF4089; }

.botonIndexDos {
  background-color: #fae1dd;
  color: #FF4089; }
  .botonIndexDos:hover {
    background-color: #fae1dd;
    color: #FF4089; }

.contactanos {
  background-color: #ffe5d9;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-area: contactanos; }

.cajitaContacto {
  background-color: #f5cac3;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 3px 3px 10px;
  display: flex;
  flex-direction: column; }

.menuContacto {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin: 0;
  padding: 0; }

.menuContactoDos {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 0; }

.tituloContacto {
  font-size: 1rem;
  font-weight: bold; }

.item {
  display: flex;
  color: black; }

ul li {
  list-style-type: none;
  color: black;
  display: flex; }

.logoUno {
  width: 20px; }

.menuPrincipal {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #7b2cbf;
  grid-area: menuP; }

.itemMenuPrincipal {
  background-color: #e4c1f9;
  margin: 20px;
  padding: 20px;
  border: 1px solid #7b2cbf;
  border-radius: 50px;
  box-shadow: 3px 3px 10px;
  text-align: center;
  font-size: 20px; }

a {
  text-decoration: none;
  color: #FF4089; }

.tituloCajita {
  color: black;
  font-size: 20px;
  text-transform: uppercase; }

.tituloCajitaDos {
  font-size: 1rem; }

.servicios {
  background-color: #ffc8dd;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  border: black 1px solid;
  grid-area: servicios; }

.cajita {
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 3px;
  text-align: center;
  font-size: 1rem; }

footer {
  /*height: auto;*/
  width: 100%;
  border-top: #444444 1px solid;
  background-color: #efd3d7;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: footer; }

* {
  margin: 0%;
  padding: 0%; }

body {
  font-family: 'Nunito', sans-serif;
  background-color: #fff0f3; }

h2 {
  color: #FF4089;
  font-size: 2rem; }

.destacados {
  background-color: #dec0f1;
  padding: 20px; }

/****Estilo página Index****/
.cases {
  border: 2px solid #FF4089;
  box-shadow: 1px 1px 1px;
  text-align: center; }
  .cases:hover {
    filter: grayscale(50%); }

.carrusel {
  border: 1px solid #FF4089; }
  .carrusel:hover {
    filter: grayscale(70%); }

.tituloCases {
  font-weight: bold; }
  .tituloCases:hover {
    color: #FF4089; }

.text6 {
  font-size: 1rem; }

.botonModal {
  background-color: #f2b5d4;
  border: 1px solid #b56576;
  font-size: 1rem; }

/****Estilos nav****/
.tituloNav {
  font-size: 1rem;
  color: ff4089;
  animation-name: texto;
  animation-duration: 3s;
  animation-iteration-count: infinite; }

.botonSearch {
  background-color: #f7d6e0; }
  .botonSearch:hover {
    background-color: #fae1dd;
    border: 1px solid #FF4089; }

.navSearch {
  grid-area: navSearch;
  background-color: #fae1dd; }

.textoSearch {
  color: #FF4089; }

.labelSearch {
  border: 1px solid #FF4089; }

.nav-item {
  color: #b56576; }

.textoNav {
  color: #FF4089; }
  .textoNav:hover {
    color: #FF4089; }

.navbarCss {
  grid-area: navbarCss;
  background-color: #fae1dd;
  font-size: 20px;
  text-align: center; }

/****Estilos cards****/
.cardStyle {
  background-color: #fde2e4;
  box-shadow: 2px 2px 2px #fde2e4; }

.cardStyleDos {
  background-color: #feeafa;
  box-shadow: 2px 2px 2px #feeafa; }

.tituloCard {
  color: #FF4089;
  text-align: center; }

.leyendaCardIndex {
  text-align: center; }

.estiloLink:hover {
  color: #FF4089; }

.fundasCard {
  padding: 5px; }

.imgFundas {
  border: white 1px solid; }
  .imgFundas:hover {
    filter: grayscale(70%);
    padding: 0px;
    padding-right: 2.5px;
    box-shadow: 0px 1px 1px 0px black;
    border: solid 1px black;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer; }

/****Estilo newsletter****/
.cajaNewsletter {
  background-color: #f2b5d4;
  margin: 20px;
  padding: 10px;
  border: black solid 1px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 1px;
  grid-area: newsletter; }

.itemNewsletter {
  color: black;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  text-align: center; }

.suscribite {
  width: 50%; }

/****Boton Whatsapp****/
.botonWhatsApp img {
  width: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px; }

/****Estilo página contacto****/
.item:hover {
  color: #FF4089; }

.acordionItem {
  background-color: #f2b5d4;
  border-top: 1px solid #FF4089; }

.acordionTxt {
  color: #FF4089; }
  .acordionTxt:hover {
    background-color: #f2b5d4;
    color: #FF4089; }

.botonInstagram {
  background: #fff0f3;
  margin: 5px;
  padding: 5px; }

.botonInsta {
  background-color: #b56576; }

.botonInstaDos {
  display: flex;
  justify-content: center; }

.tituloBoton {
  text-align: center;
  color: #FF4089; }

.cajaUbicacion {
  background-color: #d1b3c4;
  width: 100%;
  margin: auto;
  margin-bottom: 5px; }

.mapaDos {
  display: flex;
  justify-content: center;
  margin: 5px; }

.tituloUbicacion {
  color: #FF4089;
  text-align: left;
  margin: 5px;
  font-weight: bold;
  font-size: 20px; }

.direcUbic {
  color: #FF4089;
  text-align: left;
  font-size: 20px;
  margin: 5px; }

.formulario {
  background-color: #d1b3c4;
  margin-bottom: 10px;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center; }

.tituloFormulario {
  color: #FF4089;
  display: flex;
  text-align: start;
  font-size: 2rem; }

.parrafoForm {
  color: black; }

legend {
  color: black;
  font-size: 1rem; }

label {
  color: black;
  font-size: 1rem; }

/****Estilo Página Fundas****/
.fundas {
  background-color: #fff0f3;
  text-align: center;
  max-width: 100%;
  grid-area: fundas; }

.tituloFundas {
  color: #fff0f3;
  text-align: center;
  margin: 20px;
  padding: 20px;
  font-size: 2rem;
  text-decoration: underline; }

.tituloFundasIndividual {
  color: #FF4089;
  text-align: center;
  margin: 5px;
  margin-top: 20px;
  font-size: 3rem; }

.botonFundas {
  background-color: #fae1dd;
  border: 1px solid #f28482;
  color: black; }
  .botonFundas:hover {
    background-color: #fff0f3;
    color: black; }

/****Media Queries****/
header {
  grid-area: header; }

.dropdown {
  grid-area: dropdown; }

.cajitasConImagenes {
  grid-area: cajitasImg; }

/*Vista movil*/
@media (max-width: 700px) {
  .padreGrid {
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1px;
    grid-template-areas: "header header header header" "nav nav nav nav" "info info info info" "contenidoP contenidoP contenidoP contenidoP" "carrusel carrusel carrusel carrusel" "menuP menuP menuP menuP" "menuP menuP menuP menuP" "cajitasImg cajitasImg cajitasImg cajitasImg" "servicios servicios servicios servicios" "newsletter newsletter newsletter newsletter" "contactanos contactanos contactanos contactanos" "contactanos contactanos contactanos contactanos" "footer footer footer footer"; }
  .menuPrincipal {
    flex-wrap: wrap; }
  .encabezado {
    flex-wrap: wrap; }
  .servicios {
    flex-wrap: wrap; }
  .cajaNewsletter {
    flex-wrap: wrap; }
  form {
    flex-wrap: wrap; }
  .contactanos {
    flex-wrap: wrap; }
  .cajaPrincipal {
    display: none; }
  .carrusel {
    grid-area: carrusel; }
  .info {
    grid-area: info; } }

.contenidoPrincipal {
  grid-area: contenidoP; }

@media (min-width: 300px) and (max-width: 699px) {
  .padreGridContacto {
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 5px;
    grid-template-areas: "header header header header" "nav nav nav nav" "info info info info" "formulario formulario formulario formulario" "boton boton boton boton" "acordion acordion acordion acordion" "newsletter newsletter newsletter newsletter" "newsletter newsletter newsletter newsletter" "contactanos contactanos contactanos contactanos" "footer footer footer footer"; }
  .formulario {
    flex-wrap: wrap;
    grid-area: formulario; }
  .cajaUbicacion {
    display: none; }
  .acordionItem {
    grid-area: acordion; }
  .info {
    grid-area: info; }
  .botonInstagram {
    grid-area: boton; }
  .padreGridDestacados {
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 5px;
    grid-template-areas: "header header header header" "nav nav nav nav" "info info info info" "fundas fundas fundas fundas" "newsletter newsletter newsletter newsletter" "contactanos contactanos contactanos contactanos" "footer footer footer footer"; }
  .destacados {
    grid-area: destacados; }
  .padreGridFundas {
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    grid-template-areas: "header header header header" "nav nav nav nav" "info info info info" "fundas fundas fundas fundas" "fundas fundas fundas fundas" "fundas fundas fundas fundas" "newsletter newsletter newsletter newsletter" "contactanos contactanos contactanos contactanos" "footer footer footer footer"; }
  .padreGridAccesorios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    grid-template-areas: "header header header header" "nav nav nav nav" "info info info info" "accesorios accesorios accesorios accesorios" "accesorios accesorios accesorios accesorios" "newsletter newsletter newsletter newsletter" "contactanos contactanos contactanos contactanos" "footer footer footer footer"; }
  .accesorios {
    display: grid;
    grid-area: accesorios; } }

/*Vista tablet*/
@media (min-width: 700px) and (max-width: 1023px) {
  .padreGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1px;
    grid-template-areas: "header header header header" "nav nav nav nav" "info info info info" "contenidoP contenidoP contenidoP contenidoP" "carrusel carrusel carrusel carrusel" "menuP menuP menuP menuP" "menuP menuP menuP menuP" "cajitasImg cajitasImg cajitasImg cajitasImg" "servicios servicios servicios servicios" "servicios servicios servicios servicios" "newsletter newsletter newsletter newsletter" "contactanos contactanos contactanos contactanos" "footer footer footer footer"; }
  .contactanos {
    display: flex;
    width: 100%; }
  .padreGridAccesorios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1px;
    grid-template-areas: "header header header header" "nav nav nav nav" "info info info info" "accesorios accesorios accesorios accesorios" "accesorios accesorios accesorios accesorios" "newsletter newsletter newsletter newsletter" "contactanos contactanos contactanos contactanos" "footer footer footer footer"; }
  .accesorios {
    display: grid;
    grid-area: accesorios; }
  .info {
    display: grid;
    grid-area: info; }
  .padreGridFundas {
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1px;
    grid-template-areas: "header header header header" "nav nav nav nav" "info info info info" "fundas fundas fundas fundas" "fundas fundas fundas fundas" "fundas fundas fundas fundas" "newsletter newsletter newsletter newsletter" "contactanos contactanos contactanos contactanos" "footer footer footer footer"; }
  .padreGridContacto {
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1px;
    grid-template-areas: "header header header header" "nav nav nav nav" "info info info info" "formulario formulario formulario formulario" "formulario formulario formulario formulario" "formulario formulario formulario formulario" "boton boton boton boton" "acordion acordion acordion acordion" "newsletter newsletter newsletter newsletter" "newsletter newsletter newsletter newsletter" "contactanos contactanos contactanos contactanos" "footer footer footer footer"; }
  .formulario {
    display: grid;
    grid-area: formulario; }
  .cajaUbicacion {
    display: none; }
  .info {
    display: grid;
    grid-area: info; }
  .botonInstagram {
    display: grid;
    grid-area: boton; }
  .accordion {
    display: grid;
    grid-area: acordion; } }
