.contactanos {
	background-color: #ffe5d9;
	width: auto;
	display: flex;
	flex-direction: inline;
	justify-content: space-around;
	grid-area: contactanos;
}
.cajitaContacto {
	background-color: #f5cac3;
	margin: 20px;
	padding: 20px;
	border-radius: 4px;
	box-shadow: 3px 3px 10px;
	display: flex;
	flex-direction: column;
}
.menuContacto {
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	margin: 0%;
	padding: 0%;
}
.menuContactoDos {
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	padding: 0%;
}
.tituloContacto {
	font-size: 1rem;
	font-weight: bold;
}
.item {
	display: flex;
	color: black;
}
ul {
	li {
		list-style-type: none;
		color: black;
		display: flex;
	}
}
.logoUno {
	width: 20px;
}