footer {
	height: auto;
	width: 100%;
	background-color: #fff;
	border-top: #444444 2px solid;
	background-color: #cbc0d3;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-area: footer;
}