h1 {
	color: $color-texto;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
}
.tituloPrincipal {
	font-size: 2rem;
}
.imagenLogo {
	width: 100px;
	height: 100px;
	border: #FF4089 1px solid;
	border-radius: 20px;
	margin: 5px;
	padding: 5px;
}
.encabezado {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	background-color: #fae1dd;
	border: 1px solid #ff4089;
}
.info {
	width: 100%;
}
.botonIndex {
	background-color: #fae1dd;
	color: #FF4089;
}
.botonIndexDos {
	background-color: #fae1dd;
	color: #FF4089;
	&:hover {
		background-color: #fae1dd;
		color: #FF4089;
	}
}