/*MIXIN ANIMACIÓN*/

@mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
}

@mixin keyframes($info){
    @keyframes #{$info}{
        @content;
    }
}

.info{ 
    @include keyframes(fade){
       0%{
       opacity: 0;
       }
      50%{
       opacity: 0.5;
       }
      100%{
       opacity: 1;
      }
     }
   @include animate(fade, 3s, linear, 1000);
 }

 @mixin keyframes($tituloNews){
    @keyframes #{$tituloNews}{
        @content;
    }
}

.tituloNews{ 
    @include keyframes(fade){
       0%{
       opacity: 0;
       }
      50%{
       opacity: 0.5;
       }
      100%{
       opacity: 1;
      }
     }
   @include animate(fade, 3s, linear, 1000);
 }


 @mixin keyframes($tituloFundasIndividual){
    @keyframes #{$tituloFundasIndividual}{
        @content;
    }
}

.tituloFundasIndividual{ 
    @include keyframes(fade){
       0%{
       opacity: 0;
       }
      50%{
       opacity: 0.5;
       }
      100%{
       opacity: 1;
      }
     }
   @include animate(fade, 1.5s, linear, 1000);
 }